*{
    touch-action: manipulation;
}

body{
    background: #bb2020;
    font: normal 15pt Arial;
}

#button{
    width: 100px;
    color: #fff;
    background: #bb2020;
    border-radius: 50px;
    cursor: pointer;
}

header{
    color: #fff;
    text-align: center;

}

section{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

.adicionar{
    margin-left: 20px;
}

select#flista{
    width: 150px;
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 480px) {

    #button{
        width: 100px;
        height: 30px;
        color: #fff;
        background: #bb2020;
        border-radius: 50px;
        cursor: pointer;
    }

    section{
        margin-top: 30px;
        background: #fff;
        border-radius: 10px;
        padding: 15px;
        width: 80%;
        box-shadow: 5px 5px 10px black;
    }
    select#flista{
        margin-top: 15px;
        width: 200px;
    }

    .adicionar{
        margin-left: 20px;
    }
}